<section id="section-details" class="content">
  <div>
    <h2>Details</h2>
    <img src="http://placekitten.com/980/450" />
    <p class="info-details"><em>Hi, I’m Jessawynne, a software developer at the Nashville Software School.</em> In October 2015, I decided I wanted to dive into the world of coding. To that end, I am completing an intensive, six-month coding bootcamp that involves exposure to both frontend and backend web development. During the frontend, I became knowledgeable in HTML, CSS, JavaScript, jQuery, Git protocols, API usage and creation, and the Command Line Interface. Currently, I am gearing up for the backend course, which covers the ionic framework and Node.js.</p>
    <p class="info-details">Whether it be laying out a page or coding it, the attention to detail is my highest priority. If you have something brewing that I might be able to help with, <a href="mailto:jessawynne@gmail.com">send me a quick message</a>. Look forward to hearing from you.</p>
  </div>
</section>