<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <META NAME="keywords" CONTENT="nashville web design, freelance web, nashville freelance web, jessawynne parker, jessa parker, developer, programmer, web development, freelance web developer, html5, html5 developer, html5 website design, css3, front end, front-end, front end developer">
  <META NAME="description" CONTENT="Jessawynne is the creative works of developer, Jessawynne Parker, based out of Nashville, TN.">

  <title>Jessawynne | Software Developer</title>

  <!-- !STYLESHEETS -->
  <link rel="stylesheet" href="/styles/style.css">

</head>