<nav>
    <span class="nav-left"><a href="#cover">Jessawynne</a></span>
    <span class="nav-right">
      <a href="#section-profile"><i class="fa fa-user icon-profile"></i></a>
      <a href="#section-work"><i class="fa fa-picture-o"></i></a>
      <a href="#section-details"><i class="fa fa-file-text-o"></i></a>
      <a href="#section-contact"><i class="fa fa-comment"></i></a>
    </span>
</nav>

<section id="cover" class="cover">
  <h1>Jessawynne</h1>
  <p><i class="fa fa-arrow-circle-o-down fa-2x"></i></p>
</section>
