<section id="section-work" class="content">
  <div>
    <h2>Work</h2>
    <img src="http://placekitten.com/1180/500" />
    <p>Dolorem rerum et aspernatur inventore quasi et quod doloremque exercitationem sunt adipiscing facilis possimus minus labore exercitationem aspernatur ipsam voluptatibus excepturi nihil! Voluptatem dolores id accusantium temporibus assumenda et atque unde consectetur fugit sit qui voluptas fugit dolore nihil quidem tempore consequuntur similique reprehenderit et rerum. Velit corporis consequatur nesciunt est corporis et qui quod. Recusandae qui consequatur itaque inventore hic molestiae labore dolores rerum veniam culpa dolorem velit in molestiae voluptatem. Non sed quod animi excepturi sapiente obcaecati quod.</p>
  </div>
</section>

<div class="boxy">
  <div class="inner-item">
      <div class="sub">
          <p><a href="mailto:jessawynne@gmail.com?Subject=Hey%20there.">Tell me.</a></p>
      </div>
    <h3>Like what you see?</h3>
  </div>
</div>




